*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 10vh;
    box-sizing: border-box;
    user-select: none;
}

#test{
    display: none;
}
#test2{
    display: none;
}

#bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("https://th.bing.com/th/id/OIP.ZrO-ACVjSYCKqnpU8U2QGgHaFy?pid=ImgDet&rs=1");        background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(5px);
    z-index: -1;
}

#kérdés-cont{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 5vh 7vh;
}
#kérdés{
    padding: 2vh;
    text-align: center;
}
#cont{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    background-color: rgba(201, 201, 201, 0.911);
    padding: 5vh;
    border-radius: 2vh;
    box-shadow: 0px 0px 30px 20px rgba(182, 127, 0, 0.692);
    transition: 0.5s;

    &:hover {
        box-shadow: 0px 0px 30px 10px rgba(255, 255, 255, 0.79);
        background-color: rgba(0, 0, 0, 0.709);
        color: wheat;
    }
}
#válaszok{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.válasz{
    
    text-align: center;
    border: 10px dashed rgb(187, 121, 51);
    background-color: rgba(82, 35, 12, 0.544);
    padding: 1vh;
    border-radius: 2vh;
    margin: 1vh;
    transition: 0.2s;
    font-size: 2vh;

    &:hover{
        background-color: rgba(160, 85, 47, 0.944);
        border: 10px dashed rgba(193, 142, 88, 0.947);
    }
    
}
.cursor-pointer {
    cursor: pointer;
}
    
body{
    background-color: rgba(0, 0, 0, 0.5);
}