* {
  margin: 0;
  padding: 0;
  font-size: 50px;
  color: rgba(250, 235, 215, 0.425);
}

#register-block {
  width: 100%;
  height: 100vh;
  background-color: rgb(96, 96, 96);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
}
#register-block .designe-cont {
  padding: 10vh 3vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.363);
}
#register-block .designe-cont .changDP {
  color: rgb(44, 188, 44);
  font-size: 0.7em;
}
#register-block .designe-cont form {
  display: flex;
  flex-direction: column;
  margin: 3vh;
  justify-content: center;
}
#register-block .designe-cont form input {
  margin-top: 1vh;
  background-color: rgba(0, 0, 0, 0.363);
  border: none;
  box-shadow: -10px 0px 5px 0px rgba(34, 222, 44, 0.408);
  transition: 0.5s;
  border-radius: 5px;
}
#register-block .designe-cont form input:hover {
  box-shadow: -12px 0px 5px 2px rgba(34, 222, 44, 0.408);
}
#register-block .designe-cont form input[type=submit] {
  margin-top: 5vh;
  cursor: pointer;
}

#login-block {
  width: 100%;
  height: 100vh;
  background-color: rgb(96, 96, 96);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}
#login-block .designe-cont {
  padding: 10vh 3vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.363);
}
#login-block .designe-cont .changDP {
  color: rgb(44, 188, 44);
  font-size: 0.7em;
}
#login-block .designe-cont form {
  display: flex;
  flex-direction: column;
  margin: 3vh;
  justify-content: center;
}
#login-block .designe-cont form input {
  margin-top: 1vh;
  background-color: rgba(0, 0, 0, 0.363);
  border: none;
  box-shadow: -10px 0px 5px 0px rgba(34, 222, 44, 0.408);
  transition: 0.5s;
  border-radius: 5px;
}
#login-block .designe-cont form input:hover {
  box-shadow: -12px 0px 5px 2px rgba(34, 222, 44, 0.408);
}
#login-block .designe-cont form input[type=submit] {
  margin-top: 5vh;
  cursor: pointer;
}

#lobby-main {
  background-color: rgba(0, 0, 0, 0.638);
  width: 100vw;
  height: 100vh;
}
#lobby-main #fast-game {
  width: 50vw;
  height: 40vh;
  position: absolute;
  top: 30%;
  left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.363);
  border-radius: 10px;
  padding: 5vh 3vh;
  box-shadow: 0px 0px 10px 6px rgba(203, 203, 203, 0.408);
  transition: 0.5s;
  display: flex;
}
#lobby-main #fast-game h1, #lobby-main #fast-game p, #lobby-main #fast-game button {
  transition: 0.5s;
}
#lobby-main #fast-game:hover {
  background-color: rgba(0, 0, 0, 0.85);
}
#lobby-main #fast-game:hover h1, #lobby-main #fast-game:hover p, #lobby-main #fast-game:hover button {
  color: rgb(240, 255, 255);
}
#lobby-main #fast-game button {
  margin-top: 5vh;
  padding: 1vh 2vh;
  background-color: rgba(0, 0, 0, 0.167);
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px rgba(34, 222, 44, 0.408);
  transition: 0.2s;
}
#lobby-main #fast-game button:hover {
  box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.708);
  color: rgba(255, 255, 255, 0.893);
}
#lobby-main #lobby-game {
  width: 50vw;
  height: 40vh;
  position: absolute;
  top: 30%;
  left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.363);
  border-radius: 10px;
  padding: 5vh 3vh;
  box-shadow: 0px 0px 10px 6px rgba(203, 203, 203, 0.408);
  transition: 0.5s;
  display: none;
}
#lobby-main #lobby-game h1, #lobby-main #lobby-game p, #lobby-main #lobby-game button {
  transition: 0.5s;
}
#lobby-main #lobby-game:hover {
  background-color: rgba(0, 0, 0, 0.85);
}
#lobby-main #lobby-game:hover h1, #lobby-main #lobby-game:hover p, #lobby-main #lobby-game:hover button {
  color: rgb(240, 255, 255);
}
#lobby-main #lobby-game button {
  margin-top: 5vh;
  padding: 1vh 2vh;
  background-color: rgba(0, 0, 0, 0.167);
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px rgba(34, 222, 44, 0.408);
  transition: 0.2s;
}
#lobby-main #lobby-game button:hover {
  box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.708);
  color: rgba(255, 255, 255, 0.893);
}
#lobby-main #profile {
  width: 50vw;
  height: 40vh;
  display: none;
  flex-direction: column;
  box-shadow: 0px 0px 10px 6px rgba(203, 203, 203, 0.408);
  position: absolute;
  top: 30%;
  left: 5%;
  background-color: rgba(0, 0, 0, 0.363);
  border-radius: 10px;
  padding: 2vh 3vh;
  justify-items: center;
  transition: 0.5s;
}
#lobby-main #profile h1, #lobby-main #profile p {
  transition: 0.5s;
}
#lobby-main #profile h1 {
  text-align: center;
}
#lobby-main #profile:hover {
  background-color: rgba(0, 0, 0, 0.85);
}
#lobby-main #profile:hover h1, #lobby-main #profile:hover p {
  color: rgb(240, 255, 255);
}
#lobby-main #bg-main {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("https://th.bing.com/th/id/OIP.ZrO-ACVjSYCKqnpU8U2QGgHaFy?pid=ImgDet&rs=1");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(5px);
  z-index: -1;
}

#lobby-nav {
  position: absolute;
  background-color: none;
  right: 5%;
  top: 30%;
}
#lobby-nav ul {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
#lobby-nav ul li {
  background-color: none;
  margin-bottom: 2vh;
  text-align: right;
  list-style: none;
  margin: 1vh;
  font-size: 1.5em;
  cursor: pointer;
}
#lobby-nav ul li:hover {
  color: rgb(44, 188, 44);
  box-shadow: 3px 0px 5px 6px rgba(34, 222, 44, 0.408);
}

#button-margin-fix {
  margin-right: 2vh;
}

#main-display {
  width: 100vw;
  height: 100vh;
}

#test {
  display: none;
}/*# sourceMappingURL=style.css.map */