//reginon universal
//Clearing all the margins and padding
*{
    margin: 0;
    padding: 0;
    font-size: 50px;
    color: rgba(250, 235, 215, 0.425);
}
//regionend

//region Login
@mixin display-block-for-login() {
    width: 100%;
    height: 100vh;
    background-color: rgb(96, 96, 96);
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .designe-cont{
        padding: 10vh 3vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.363);
        
        .changDP{
            color: rgb(44, 188, 44);
            font-size: 0.7em;
        }

        form{
            display: flex;
            flex-direction: column;
            margin: 3vh;
            justify-content: center;
    
            input{
                margin-top: 1vh;
                background-color: rgba(0, 0, 0, 0.363);
                border: none;
                box-shadow: -10px 0px 5px 0px rgba(34, 222, 44, 0.408);
                transition: 0.5s;
                border-radius: 5px;
            }
            input:hover{
                box-shadow: -12px 0px 5px 2px rgba(34, 222, 44, 0.408);
            }

            input[type="submit"]{
                margin-top: 5vh;
                cursor: pointer;
            }
        }
    }
  }

#register-block{
    @include display-block-for-login();
    display: none;
}

#login-block{
    @include display-block-for-login();
    display: flex;
}
//endregion

//region Lobby page
#lobby-main{
    background-color: black;
    width: 100vw;
    height: 100vh;
    #bg-main{
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("../img/bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        filter: blur(5px);
        z-index: -1;
    }
}

#lobby-nav{
    position: absolute;
    background-color: none;
    right: 5%;
    top: 30%;
    
    ul{
        display: flex;
        justify-content: flex-end;
        flex-direction: column;

        li{
            margin-bottom: 2vh;
            text-align: right;
            list-style: none;
            margin: 1vh;
            font-size: 1.5em;
            cursor: pointer;
        }

        li:hover{
            color: rgb(44, 188, 44);
            box-shadow: 3px 0px 5px 6px rgba(34, 222, 44, 0.408);
        }
    }
}